# Logs
logs
*.log

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Python cache
__pycache__

# Folder for temporal data
temp
tmp

# Python venv
.venv

# ToDo file
todo.txt

# PDI folder
.pdi

# Pentaho DI Garbage
kettle/pollution/kettle*shell
